@{ 
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
</head>
<body>
    <h3>Transient Service</h3>
    @ViewBag.message1 <br />
    @ViewBag.message2 <br />

    <h3>Scoped Service</h3>
    @ViewBag.message3 <br />
    @ViewBag.message4 <br />

    <h3>Singleton Service</h3>
    @ViewBag.message5 <br />
    @ViewBag.message6 <br />
</body>
</html>